<div class="icon-container">
  {% if site.github_username %}

    <a class='icon--github' href="https://github.com/{{ site.github_username }}">
        <img src="/assets/icons/git.jpg" alt="git">
    </a>
  {% endif %}

  {% if site.twitter_username %}
    <a class='icon--twitter' href="https://twitter.com/{{ site.twitter_username }}">
        <img src="/assets/icons/twitter.jpg" alt="twitter">
    </a>
  {% endif %}

  {% if site.facebook_username %}
    <a class='icon--facebook' href="https://facebook.com/{{ site.facebook_username }}">
        <img src="/assets/icons/facebook.jpg" alt="facebook">
    </a>
  {% endif %}

  {% if site.instagram_username %}
    <a class='icon--instagram' href="https://instagram.com/{{ site.instagram_username }}">
        <img src="/assets/icons/instagram.jpg" alt="instagram">
    </a>
  {% endif %}

  {% if site.linkedin_username %}
    <a class='icon--linkedin' href="https://linkedin.com/pub/trevor-ware/71/142/494">
        <img src="/assets/icons/linkedin.jpg" alt="linkedin">
    </a>
  {% endif %}


</div>
<br>
<br>
<div class="center">
  <p>
  &copy; {{ site.time | date: '%Y' }}. All rights reserved.
  </p>
</div>
