<div class="icon-container">
  {% if site.github_username %}

    <a class='icon--github' href="https://github.com/{{ site.github_username }}">
        <img src="/assets/icons/git.jpg" alt="git">
    </a>
  {% endif %}

  {% if site.linkedin_username %}
    <a class='icon--linkedin' href="https://www.linkedin.com/in/trevor-ware/">
        <img src="/assets/icons/linkedin.jpg" alt="linkedin">
    </a>
  {% endif %}


</div>
<br>
<br>
<div class="center">
  <p>
  &copy; {{ site.time | date: '%Y' }}. All rights reserved.
  </p>
</div>
