<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

  <script>
    function validateForm() {
      var x = document.forms["contactform"]["name"].value;
      var y = document.forms['contactform']["_replyto"].value;
      var z = document.forms["contactform"]["message"].value;

      x = x.replace(/\s/g, '');
      y = y.replace(/\s/g, '')
      z = z.replace(/\s/g, '')

      x = x.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g, "")
      y = y.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g, "")
      z = z.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g, "")

      if (x == null || x == "" || y == null || y == "" || z == null || z == "") {
          alert("Please do not send an empty email.");
          return false;
        }
      }
  </script>
</head>
