---
layout: default
---
<script src="/public/js/jquery-1.11.0.min.js"></script>
<script src="/public/js/lightbox.min.js"></script>
<link href="/public/css/lightbox.css" rel="stylesheet" />

<article class="post">
   <h1 class="game-title">{{ page.title }}</h1>
    {{ content }}
	<ul class="rig columns-2">
	{% for gallery in site.data.galleries %}
		{% if page.gallery == gallery.id %}
			{% for image in gallery.images %}
				<li>
					<a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ page.gallery  }}" title="{{ image.text }}">
						<img src="{{ gallery.imagefolder }}/{{ image.name }}" border="1px"/>
					</a>
				</li>
			{% endfor %}
		{% endif %}
	{% endfor %}
	</ul>
</article>